In [1]:
import sys, os
sys.path.insert(0, '../..')

import pandas as pd

from Bio import SeqIO

import pickle

In [2]:
# load the fasta file
fasta_file = "../../Homo_sapiens_3prime_UTR.fa"
sequences = []
for s in SeqIO.parse(fasta_file, "fasta"):
    sequences.append(str(s.seq).upper())
sequences[:3]

['ATCTTATATAACTGTGAGATTAATCTCAGATAATGACACAAAATATAGTGAAGTTGGTAAGTTATTTAGTAAAGCTCATGAAAATTGTGCCCTCCATTCCCATATAATTTAGTAATTGTCTAGGAACTTCCACATACATTGCCTCAATTTATCTTTCAACAACTTGTGTGTTATATTTTGGAATACAGATACAAAGTTATTATGCTTTCAAAATATTCTTTTGCTAATTCTTAGAACAAAGAAAGGCATAAATATATTAGTATTTGTGTACACCTGTTCCTTCCTGTGTGACCCTAAGTTTAGTAGAAGAAAGGAGAGAAAATATAGCCTAGCTTATAAATTTAAAAAAAAATTTATTTGGTCCATTTTGTGAAAAACATAAAAAAAGAACTGTCACATCTTAATTTAAAAAATATATGCTTAGTGGTAAGGAGATATATGTCAACTTTTAAGAGGTTGAAAAACAAACGCCTCCCATTATAAGTTTATACTTCACCTCCCACCACTATAACAACCCAGAATCCATGAGGGCATTATCAGGAGTGAGTGGAAGAGTAAGTTTGCCAATGTGAAATGTGCCTTCTAGGTCCTAGACGTCTGTGGTATAACTGCTCATAAGCAGTAGAAAGAATTTAGAGGGATCCAGGCTCTCATCACGTTGGCACAAAGTATATTACTTGGATCCATCTATGTCATTTTCCATGGTTAATGTTTAAAAGCACAGGCTTTAAAGTAAAAAACAAAGAGCTGGATTCAACTCTACTGACTCTTATTAATCATGATTTTGGGCACATTACGTAGCTTTCATGAGCTTTAGTTTCTACATTTATAAACAGGAGATTATACCTATTATGCATGGTTATTATGAAGGAAAATGACAAAATAGATATAAATCAAATAGCCCACTTCGAGACATATTAAGCATGAATAAACATTAGATACTATTAAAATCCTATATATTAACAAAGCCAAAAGTTTCAAACTTTACTTTTTCCCAACATTCTTGTGAAATATGACACATCCCAATCTTAACAGATGCTCATTTGGGATACTGTACTTGTGAGTGGAAGTGTGTATATTTGTGTGCAAGTGTGTACTCATATACTTCCACCTTACCACCCTAGAAAGGCATGATGAAAATTTAAGATAGAAGGAAAATATAAATTGAAAAAAAAAAACCTTAACAAATGATTCTGACAAATATCTTCTCTTTCCAGGGAGAATCACTGAGCCAGAATAAAATTGAACACTAAATATTCTAAGAAAAAAGGAATCTAGTTTGTCAAAATGTGACTTGAATTAATAGATAAGGAGAGTCAGATGATAAGAGGGTCAAAATTATGTTTATCTTAGGAAAAGTAGAATAGAAAATTTATAAGCAGATTAAAAACACATAATAAAAGTAGTAAATAATAATGACAGTATCTCAAATCAGTGCAGGGGGGAAAGGCCTACTAATGTGATGGTGGGATAATTGGATAGCAATATGGGAAAAGATATATTTAATTTATTTGCTACACCAAATGCCAGGACAATCTCTAAGTGAATTCAAGACATAACTCTTTTTTCAAAAAAAC',
 'GGTTGCCGGGGGTAGGGGTGGGGCCACACAAATCTCCAGGAGCCACCACTCAACACAATGGCCCTGCCTCCCACCGCTTTATTTCTTTCGGTTTCGGATGCAAAACAAAAAATTTTAAAAGAAAATGTGACTTCAAAGGAAAGGAACAAATTTTCAAAGACTTGGGGGAGTGAAGGCAGAGCCTGGTGCAGATGGACGAGGTCTGCAGACGGAGGGCAGAGGTGGTGGAAGGGGCCAGGGGCCTGCAGGCCTCCCCCTGGAACTGGGACTGGTCTCGGTCTGCTGACGTCAGGGTCAGCTCCCCCGCGGAGCTGACTTCAGCAGCCCACAGCTGTGGGGCTTCAGCAGCCACACCAGCCCAGCCCAGCCCAGCTCTCGATACGTTTGGTCTTTCATGCTGAAAAATAAATAATAAAGCCTG',
 'GGCAGCCCATCTGGGGGGCCTGTAGGGGCTGCCGGGCTGGTGGCCAGTGTTTCCACCTCCCTGGCAGTCAGGCCTAGAGGCTGGCGTCTGTGCAGTTGGGGGAGGCAGTAGACACGGGACAGGCTTTATTATTTATTTTTCAGCATGAAAGACCAAACGTATCGAGAGCTGGGCTGGGCTGGGCTGGTGTGGCTGCTGAAGCCCCACAGCTGTGGGCTGCTGAAGTCAGCTCCGCGGGGGAGCTGACCCTGACGTCAGCAGACCGAGACCAGTCCCAGTTCCAGGGGGAGGCCTGCAGGCCCCTGGCCCCTTCCACCACCTCTGCCCTCCGTCTGCAGACCTCGTCCATCTGCACCAGGCTCTGCCTTCACTCCCCCAAGTCTTTGAAAATTTGTTCCTTTCCTTTGAAGTCACATTTTCTTTTAAAATTTTTTGTTTTGCATCCGAAACCGAAAGAAATAAAGCGGTGGGAGGCAGGGCCATTGTGTTGA']

In [3]:
# all data
full_df = pd.DataFrame({'3-UTR':sequences})
full_df

                                                   3-UTR
0      ATCTTATATAACTGTGAGATTAATCTCAGATAATGACACAAAATAT...
1      GGTTGCCGGGGGTAGGGGTGGGGCCACACAAATCTCCAGGAGCCAC...
2      GGCAGCCCATCTGGGGGGCCTGTAGGGGCTGCCGGGCTGGTGGCCA...
3      CCCACCTACCACCAGAGGCCTGCAGCCTCCCACATGCCTTAAGGGG...
4      TGGCCGCGGTGAGGTGGGTTCTCAGGACCACCCTCGCCAAGCTCCA...
...                                                  ...
18129  AGCAAGCATTGAAAATAATAGTTATTGCATACCAATCCTTGTTTGC...
18130  AGCAAGCATTGAAAATAATAGTTATTGCATACCAATCCTTGTTTGC...
18131  GCCTACTTCATCTCAGGACCCGCCCAAGAGTGGCCGCGGCTTTGGG...
18132  TTGTCAGTCTGTCTGCTCAGGACACAAGAACTAAGGGGCAACAAAT...
18133  CTTTATAGTGGCACAAACGCTTCAGAGACACACAATTATAAGAGAC...

[18134 rows x 1 columns]

In [4]:
# save train split
with open('full_df.pickle', 'wb') as f:
    pickle.dump(full_df, f)

In [3]:
# 70-30% train and test split
N_train = int(len(sequences) * 0.7)
N_train

12693

In [8]:
train_split = pd.DataFrame({'3-UTR':sequences[:N_train]})
train_split

                                                   3-UTR
0      ATCTTATATAACTGTGAGATTAATCTCAGATAATGACACAAAATAT...
1      GGTTGCCGGGGGTAGGGGTGGGGCCACACAAATCTCCAGGAGCCAC...
2      GGCAGCCCATCTGGGGGGCCTGTAGGGGCTGCCGGGCTGGTGGCCA...
3      CCCACCTACCACCAGAGGCCTGCAGCCTCCCACATGCCTTAAGGGG...
4      TGGCCGCGGTGAGGTGGGTTCTCAGGACCACCCTCGCCAAGCTCCA...
...                                                  ...
12688  GGCTCCCACAGGCACCAGCAAAACAACGGATGAATGTAGCCCTTCC...
12689  AGCATGAAGACTTTCTGAAACCTGCCCTAGAGCTGGGATATTGTTT...
12690  GTTTCTGAGTGGCGGAGTGGCCAAACCCTAGAGCTAGCAGTTCCCA...
12691  ACAGTGTGCCAAACACCAGCTAAACCAAGAGAGAAAGCAAGAAACT...
12692  TGACATGAATGGGGCCATATTCTTCCTGGGGCCCAAATGCTGGCTG...

[12693 rows x 1 columns]

In [9]:
test_split = pd.DataFrame({'3-UTR':sequences[N_train:]})
test_split

                                                  3-UTR
0     GAGTGAATAAAATTGGACTTTGTTTAAAATAAGTGAATAAGCGATA...
1     GCTAGACATGGCAGAGATGAGGAGGTTTGGCACAGAAAACATAGCC...
2     GAATCACACAGAGTCTTCTGTAGGGGTATGGTGCGCCGCATGACAT...
3     AATGTGATTCCTTTGAAGAGGAAAATGAATAATACATTGAATTAGA...
4     TTTAAGTGGCTATGGGTATTTCTTTCATACTTTATTAAAGTATCAA...
...                                                 ...
5436  AGCAAGCATTGAAAATAATAGTTATTGCATACCAATCCTTGTTTGC...
5437  AGCAAGCATTGAAAATAATAGTTATTGCATACCAATCCTTGTTTGC...
5438  GCCTACTTCATCTCAGGACCCGCCCAAGAGTGGCCGCGGCTTTGGG...
5439  TTGTCAGTCTGTCTGCTCAGGACACAAGAACTAAGGGGCAACAAAT...
5440  CTTTATAGTGGCACAAACGCTTCAGAGACACACAATTATAAGAGAC...

[5441 rows x 1 columns]

In [11]:
# save train split
with open('train_split.pickle', 'wb') as f:
    pickle.dump(train_split, f)

In [12]:
# save test split
with open('test_split.pickle', 'wb') as f:
    pickle.dump(test_split, f)