In [1]:
import pandas as pd

In [23]:
df = pd.DataFrame({'a': [1, 2, 3],"b":[4, 5, 6]})

def fn(row):
    return {"sum":row['a']+ row['b'], "mul":row['a']*row['b']}

cols = ["sum","mul"]
df[cols] = df.apply(fn, axis=1, result_type="expand")

In [22]:
df

   a  b  sum  mul
0  1  4    5    4
1  2  5    7   10
2  3  6    9   18

In [17]:
def f(row):
    print(row[0], row[1])
    return row[0]+1

In [16]:
df["a"].map(lambda x: f(x))

1
2
3

0    2
1    3
2    4
Name: a, dtype: int64

In [18]:
df.to_parquet("test.parquet")